.m-add-search-entry {
  // border: 1px solid;
  display: inline-flex;
  justify-content: center;

  &__input {
    margin: 10px;
  }

  &__add-buttom {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
