@import "./../../../styles/variables.scss";
.o-content {
  width: 100%;
  height: 100%;
  padding: 0 20px 0 20px;

  &__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    h2 {
      margin-left: 30px;
    }
  }

  &__form {
    width: 100%;
    height: 100%;

    .form {
      width: 100%;
      &__field {
        margin: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        box-sizing: border-box;

        p {
          color: $text-color2;
        }

        > div {
          width: 88%;
        }

        label {
          width: 100%;
          color: $text-color2;
        }
      }

      .password > div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
      }
    }
  }
}
