.p-home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  position: relative;

  &__sidebar {
    min-width: 307px;
    height: 100vh;
    overflow: hidden;
  }

  &__content {
    height: 100%;
    min-width: 875px;
  }

  .--show-modal:after {
    content: "";
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.5;
  }

  &__modals {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    z-index: 2;
    border-radius: 5px;
    padding: 20px 0;

    &__button {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: white;
      margin: 0 auto;
      width: 50%;
    }
  }
}
