@import "../../../styles/variables.scss";

.a-sub-buttoms {
  border: 1px solid $border-color;
  border-radius: 3px;
  width: auto;
  height: 24px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  cursor: pointer;

  &__tittle {
    font-size: 12px;
    color: $text-color2;
  }
}
