@import "../../../styles/variables.scss";
.m-data-card {
  cursor: pointer;
  display: flex;
  // padding: 5px;
  margin: 10px 0 10px 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 3px;

  &__image {
    display: inline-flex;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    font-size: 14px;

    &__username {
      color: $text-color2;
      font-size: 12px;
    }
  }
}
