@import "../../../styles/variables.scss";

.a-input-main {
  padding: 11px;
  border: 1px solid $border-color;
  align-items: center;
  border-radius: 5px;
  display: inline-flex;
  height: 36px;

  &__search-image {
    width: 3%;

    img {
      width: 16px;
    }
  }

  &__input {
    margin: 5px;
    width: 97%;
    height: 15px;
    outline: none;
    border: 0;
    color: $text-color;
    margin-left: 20px;
  }

  &__input::placeholder {
    color: $text-color;
    font-style: italic;
  }
}
