@import "../../../styles/variables.scss";

.a-add-buttom {
  border: 1px solid $border-color;
  min-width: 35px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;

  img {
    width: 10px;
  }

  span {
    padding-left: 10px;
    color: $text-color2;
  }
}
