@import "./../../../styles/variables.scss";

.a-profile-image {
  display: inline-flex;
  border-radius: 5px;
  background-color: $border-color;
  width: 50px;
  height: 50px;
  img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
}
