@import "../../../styles/variables.scss";

.m-header-sidebar {
  display: inline-flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: auto;
    align-items: center;

    &__label {
      font-weight: 400;
      color: $text-color2;
      font-size: 12px;
      margin: 5px;
    }

    &__buttons {
      margin: 5px;
    }
  }
}
