@import "../../../styles/variables.scss";

.o-sidebar {
  height: 100%;
  width: 100%;

  &__content {
    padding: 5px;
    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(190, 184, 184, 0.7);
      border-radius: 2.5px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2.5px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
  }
}
