@import "./styles/mixin.scss";
@import "./styles/fonts.scss";
@import "./styles/normalice.scss";
@import "./styles/variables.scss";

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $roboto-regular;
}

body {
  background-color: #ffffff;
}
